node_modules/
.env
.generated/
.generated/**
.generated
# Prisma client (custom output)
backend/generated/
backend/generated/**
/generated/
/generated/**
# Logs
logs/
*.log
# Uploads
uploads/
# OS/editor
.DS_Store
.idea/
.vscode/
