@import "tailwindcss";

@theme {
  --color-border: oklch(0.89 0 0);
  --color-input: oklch(0.89 0 0);
  --color-ring: oklch(0.10 0 0);
  --color-background: oklch(1 0 0);
  --color-foreground: oklch(0.039 0 0);
  --color-primary: oklch(0.09 0 0);
  --color-primary-foreground: oklch(0.98 0 0);
  --color-secondary: oklch(0.961 0 0);
  --color-secondary-foreground: oklch(0.09 0 0);
  --color-destructive: oklch(0.602 0.842 0);
  --color-destructive-foreground: oklch(0.98 0 0);
  --color-muted: oklch(0.961 0 0);
  --color-muted-foreground: oklch(0.451 0 0);
  --color-accent: oklch(0.961 0 0);
  --color-accent-foreground: oklch(0.09 0 0);
  --color-popover: oklch(1 0 0);
  --color-popover-foreground: oklch(0.039 0 0);
  --color-card: oklch(1 0 0);
  --color-card-foreground: oklch(0.039 0 0);
  
  --radius-lg: 0.5rem;
  --radius-md: calc(0.5rem - 2px);
  --radius-sm: calc(0.5rem - 4px);
}

@layer base {
  * {
    border-color: var(--color-border);
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
